.slick-prev:before {
    position: relative;
    font-size: 35px;
    right: 50% !important;
    bottom: 80% !important;
    background: white;
    color: #3e91f7;
    z-index: 9999;
  }
  .slick-next:before {
    position: relative;
    font-size: 35px;
    right: 20%;
    bottom: 80% !important;
    background: white;
    color: #3e91f7;
    z-index: 999;
  }

  .movieNum {
    position: relative;
    top: 43px;
    left: 20px;
    background-color: rgba(0, 0, 0, 0.77);
    color: rgb(255, 255, 255);
    font-weight: 700;
    letter-spacing: normal;
    font-size: 14px;
    line-height: 22px;
    text-align: center;
    width: 24px;
    height: 24px;
    border-radius: 4px;
    opacity: 1;
    z-index: 3;
    transition: opacity 300ms ease 0s;
  }